
$darkestBlack: #313131; 

//color
$deepBlue: #001c49;
$deepBlue2: #0b3c8a;
$blue:  #0059bb;
$light-blue: #55b6ed;
$light-blue2: #eaf5ff;
$light-blue3: #004ca0;
$gray: #919eb7;
$login-yellow: #efc934;
$red: #f56c6c;


//txt-color
$txt-1: #FFF;
    